@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");

.brand {
    font-family: "Henny Penny";
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    justify-content: center;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: .375rem .75rem;
    margin-bottom: .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    box-sizing: border-box;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    border-color: #000;
    outline: 0;
}

select.form-control {
    appearance: auto;
}

textarea.form-control {
    min-height: 100px;
}

.form-radio-control, .form-check-control {
    accent-color: #000;
}

.form-label, label.form-label {
    display: inline-block;
    margin-bottom: .5rem;
}

button {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #000;
    background-color: transparent;
    background-image: none;
    border-color: #000;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    border-color: #fff;
    background-color: #000;
}

.btn-primary:hover {
    color: #fff;
    border-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
}

.btn-secondary {
    color: #000;
    border-color: #a0a9b2;
    background-color: #fff;
}

.btn-secondary:hover {
    color: #000;
    border-color: rgba(230, 230, 230, 1);
    background-color: rgba(240, 240, 240, 1);
}
